flows.json
[{"id":"89f9854e.fcc5b8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"50dec832.a5e248","type":"inject","z":"89f9854e.fcc5b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"welcome manisha","payloadType":"str","x":530,"y":920,"wires":[["1e0994dc.1e89eb"]]},{"id":"1e0994dc.1e89eb","type":"debug","z":"89f9854e.fcc5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":920,"wires":[]},{"id":"b592acdf.bac09","type":"ibmiot in","z":"89f9854e.fcc5b8","authentication":"apiKey","apiKey":"26dde080.ec966","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"security","eventType":"+","commandType":"+","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":true,"allFormats":"","qos":0,"x":90,"y":200,"wires":[["cad4ab17.927428","9d8227ed.bffb48","c718207b.5070f","4f388f27.5ace7","b7b4348e.1adca8","98b9b2e8.7188d","7ce6f1a6.1eaa3"]]},{"id":"98b9b2e8.7188d","type":"debug","z":"89f9854e.fcc5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":200,"wires":[]},{"id":"cad4ab17.927428","type":"function","z":"89f9854e.fcc5b8","name":"Id","func":"global.set(\"Id\",msg.payload.d.id)\nmsg.payload = msg.payload.d.id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":20,"wires":[["2292b041.a94b9"]]},{"id":"9d8227ed.bffb48","type":"function","z":"89f9854e.fcc5b8","name":"Date","func":"global.set(\"date\",msg.payload.d.datetime)\nmsg.payload = msg.payload.d.datetime\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":240,"wires":[["46d42eaa.32a73"]]},{"id":"4f388f27.5ace7","type":"function","z":"89f9854e.fcc5b8","name":"entries","func":"global.set(\"entry\", msg.payload.d.persons)\nmsg.payload = msg.payload.d.persons\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":300,"wires":[["472b79dd.8d5698"]]},{"id":"c718207b.5070f","type":"function","z":"89f9854e.fcc5b8","name":"skill","func":"global.set(\"s\",msg.payload.d.skill)\nmsg.payload = msg.payload.d.skill\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":160,"wires":[["89aabcb7.e6911"]]},{"id":"472b79dd.8d5698","type":"ui_text","z":"89f9854e.fcc5b8","group":"fcd2c6c5.660178","order":7,"width":4,"height":1,"name":"","label":"Number of persons","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":300,"wires":[]},{"id":"c2b319a2.f25cf8","type":"http in","z":"89f9854e.fcc5b8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":220,"y":520,"wires":[["b1bc83ce.eb0a9"]]},{"id":"3fbd6e53.1629b2","type":"http response","z":"89f9854e.fcc5b8","name":"","statusCode":"","headers":{},"x":610,"y":520,"wires":[]},{"id":"b1bc83ce.eb0a9","type":"function","z":"89f9854e.fcc5b8","name":"","func":"msg.payload = \n{\n    \"id\" : global.get(\"Id\"),\n    \"skill\"    : global.get(\"s\"),\n    \"datetime\" : global.get(\"date\"),\n    \"persons\"  : global.get(\"entry\"),\n    \"personname\": global.get(\"name\"),\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":520,"wires":[["3fbd6e53.1629b2"]]},{"id":"b7b4348e.1adca8","type":"function","z":"89f9854e.fcc5b8","name":"Name","func":"global.set(\"name\",msg.payload.d.personname)\nmsg.payload = msg.payload.d.personname\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":360,"wires":[["86ae7ce5.907cb"]]},{"id":"86ae7ce5.907cb","type":"ui_text","z":"89f9854e.fcc5b8","group":"fcd2c6c5.660178","order":5,"width":4,"height":2,"name":"","label":"Name","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":360,"wires":[]},{"id":"46d42eaa.32a73","type":"ui_text","z":"89f9854e.fcc5b8","group":"fcd2c6c5.660178","order":3,"width":4,"height":1,"name":"","label":"date","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":240,"wires":[]},{"id":"89aabcb7.e6911","type":"ui_text","z":"89f9854e.fcc5b8","group":"fcd2c6c5.660178","order":10,"width":4,"height":1,"name":"","label":"skill","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":160,"wires":[]},{"id":"2292b041.a94b9","type":"ui_text","z":"89f9854e.fcc5b8","group":"fcd2c6c5.660178","order":1,"width":4,"height":1,"name":"","label":"Id","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":20,"wires":[]},{"id":"b91fc20f.78896","type":"delay","z":"89f9854e.fcc5b8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"10","randomUnits":"seconds","drop":true,"x":520,"y":440,"wires":[["4a1b29bf.a21d98"]]},{"id":"4a1b29bf.a21d98","type":"ibmiot out","z":"89f9854e.fcc5b8","authentication":"apiKey","apiKey":"26dde080.ec966","outputType":"cmd","deviceId":"123456","deviceType":"security","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":740,"y":440,"wires":[]},{"id":"7ce6f1a6.1eaa3","type":"function","z":"89f9854e.fcc5b8","name":"","func":"msg.payload =\n{\n    \"command\" : msg.payload.d.id,\n    \"commands\": msg.payload.d.personname\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":440,"wires":[["b91fc20f.78896"]]},{"id":"26dde080.ec966","type":"ibmiot","name":"Api key","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"fcd2c6c5.660178","type":"ui_group","name":"data","tab":"72ddba13.a62c24","order":1,"disp":true,"width":"24","collapse":false},{"id":"72ddba13.a62c24","type":"ui_tab","name":"industrial securirty","icon":"dashboard","disabled":false,"hidden":false}]